div.login {

  width: 100%;
  height: 100%;
  .box {
    width: 25rem;
    height: 30rem;

    margin: 0 auto;
    padding: 2rem;

    position: relative;
    top: 20%;
    display: flex;
    flex-flow: column;
    
    box-shadow: 1px -1px 5px 1px #e8e8e8;
    border-radius: 5px;
    background-color: #fcfcfc;

    p {
      text-align: center;
    }
    p:nth-child(1) {
      font-weight: bold;
      font-size: x-large;
    }
    p:nth-child(2) {
      font-size: small;
    }

    form {
      display: flex;
      flex-flow: column;
      gap: 0.25rem;

      input {
        height: 2rem;
      }
      button {}
      p {
        font-size: small;
        margin: 0;
      }
    }

    > button {
      margin-bottom: 0.1rem;
      // height: 2rem;
      // border-radius: 5px;
      border: none;
      border-radius: 7px;
      background-color: none;

      &.Kakao {
        background-image: url(../asset/kakao_login_medium_wide.png);
        background-repeat: no-repeat;
        background-color: #FEE500;
        background-size: auto;
        background-position: center;
        height: 3.2rem;
      }
      &.Google {
        border: solid 1px #c8c8c8;
        background-color: #fff;
        height: 3.2rem;
        font-weight: bold;
      }
      &.Naver {
        background-color: #19CE60;
        height: 3.2rem;
        font-weight: bold;
        color: #fff;
      }
    }
    > .kakao {
      background-image: url(../asset/kakao_login_medium_wide.png);
    }
  }
}

div.join {
  width: 80rem;
  height: 90vh;
  margin: 0 auto;

  box-shadow: #ccc 3px 0px 5px;
  
  display: flex;

  .info {
    flex: 1.5;

    border-radius: 3px 20px 20px 3px;
    background-color: dodgerblue;
        
  }
  .form {
    // padding: 5rem 2rem 2rem 1rem;
    flex: 1;
    
    border-radius: 0 5px 5px 0;
    background-color: #fff;

  }
}
.loading {
  background-color: #0005;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;

  .icon {
    width: 5rem;
    height: 5rem;

    animation-name: rotateImg;    
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: normal;

    background-image: url('/asset/loading.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
@keyframes rotateImg {
  100% {
      transform: rotate(360deg);
  }
}