.place-list, .place-creation, .place-users {
  padding: 0.5rem;

  .center {
    padding: 0.25rem 0;
    display: flex;
    gap: 0.25rem;

    .place-item {
      position: relative;
      border: solid 1px #c8c8c8;
      background-color: #fff;
      border-radius: 5px;

      display: flex;
      flex-direction: column;

      &.selected {
        border: solid 2px #0D99FF;
      }
      &:hover {
        border: solid 1px #0D99FF;
      }

      &.invited {
        background-color: rgba($color: #000000, $alpha: .4);
      }

      max-width: 10rem;
      width: 10rem;

      .place-item-header {
        flex: 1;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        // margin: auto 0;
        .place-item-name {
          font-weight: bold;
        }
        .icon-bookmark {
          svg {
            cursor: pointer;
          }
        }
      }
      .place-item-body {
        flex: 5;
        padding: 0.5rem;
        .place-info {
          color: #333;
          font-size: 0.9rem;
          
          overflow: hidden;  		// 을 사용해 영역을 감출 것
          text-overflow: ellipsis;  	// 로 ... 을 만들기 
          white-space: nowrap; 		// 아래줄로 내려가는 것을 막기위해
          word-break:break-all;
          width: 9rem;
          
          > span {
            margin-left: 0.25rem;
          }
        }
      }
      .place-item-footer {
        flex: 1;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        
        .icon-users {
          cursor: pointer;

          span {
            margin-left: 0.25rem;
          }
        }
        .icon-info {
          cursor: pointer;
        }
      }

      .place-item-overlap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        > button {
          height: fit-content;
        }
      }
    }
  }

  .form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: #ccc 0px 2px 2px;
  }
}

.place-users {

  >.place-users-list {
    padding: 0.5rem 0;

    >.place-users-list-column {
      display: flex;

      margin-bottom: 0.1rem;
      padding: 0.1rem 0.25rem;
      border: solid 1px #ccc;
      border-radius: 5px;
      background-color: #eee;
      
      > span {
        &:nth-child(1) {
          flex: 0.5;
        }
        padding: 0 1rem;
        flex: 1;
      }
      >.item-buttons {
        flex: 1;
      }
    }
    
    >.place-users-list-item {
      display: flex;

      margin-bottom: 0.25rem;
      padding: 0.25rem;
      border: solid 1px #ccc;
      border-radius: 5px;
      background-color: #fff;

      &:hover {
        border: solid 1px #0D99FF;
      }

      > span {
        margin: auto 0;

        &:nth-child(1) {
          flex: 0.5;
        }
        padding: 0 1rem;
        flex: 1;
      }
      
      >.item-buttons {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        > button:nth-child(1) {
          margin-right: 0.1rem;
        }
      }
    }
  }
}
