.topBar {
  width: 100%;
  border-radius: 5px;
  background-color: #e8e8e8;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0rem 2rem;
  box-shadow: #ccc 0px 2px 2px;


  a {
    margin: auto 0;
    .logo {
      display: block;
      background-image: url(../asset/logo_inventory.png);
      background-size: contain;
      height: 3rem;
      width: 7.5rem;
      border-radius: 5px;
    }
  }

  .control-right  {
    margin: auto 0;
    button.login {
      width: 5rem;
      height: 2rem;
    }
  }
}

.sideBar {
  width: 20rem;
  background-color: #e8e8e8;
  border-radius: 5px;
  box-shadow: #ccc 0px 2px 2px;
  height: 90vh;

  ul {
    list-style: none;
    padding: 0;
    
    li {
      background-color: red;
      border-radius: 3px;
      padding: 0.25rem;
      margin-bottom: 0.1rem;

      a {
        text-decoration: none;
        color: black;
        width: 100%;

        &.active {
          font-weight: bold;
        }
        
        span {
          width: 100%;
        }
      }

    }
  }
}

.content {
  width: 100%;
  background-color: #e8e8e8;
  border-radius: 5px;
  box-shadow: #ccc 0px 2px 2px;
}