.storage-list, .storage-creation, .place-detail {
  padding: 0.5rem;

  .center {
    padding: 0.25rem 0;
  }

  .form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: #ccc 0px 2px 2px;

    max-height: calc(94vh - 105px);
    overflow-y: auto;
  }
}